body{
    font-family: 'Roboto', sans-serif;
}
/* .carousel-item{ */
  /* position: relative; */
  /* object-fit: cover; */
/* } */
/* .carousel-caption{ */
    /* margin: 0; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
/* } */
/*  */
/* .carouselimg { */
  /* height: 700px; */
/* } */
/* .carousel-inner{ */
  /* width:100%; */
  /* max-height: 700px !important; */
  /* object-fit: cover; */
/* } */

/* .carousel-caption h2{ */
    /* font-weight: 700; */
    /* padding-bottom: 8px; */

.carousel-item-one{
    background: url(./cover/cover-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: revert;
    padding: 15% 17%;
    border-radius: 11px;
}
.carousel-item-two{
  background: url(./cover/cover-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: revert;
  padding: 15% 17%;
  border-radius: 11px;
}
.carousel-item-three{
  background: url(./cover/cover-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: revert;
  padding: 15% 17%;
  border-radius: 11px;
}

.all-cources{
    padding-top: 80px;
}














/* ==========Responsive============== */
@media screen and (min-width:0px) and (max-width:576px){
  .cource-item{
    flex-direction: column;
    width: 100%;
  }
  .cource-item-img{
    width: 100%;
    height: auto;
  }
  .cource-item-img img{
    width: 100%;
    height: auto;
  }
  .cource-item-content {
    padding: 35px 0 28px 0;
}
.cource-item-content p {
  padding: 10px 0 2px 0;
}

}